@model ApplyProcess.Models.NavbarViewModel

<nav>
    <ul>
        @foreach(var navbarItem in Model.NavbarItems)
        {
        <li>
            <a href="@navbarItem.Url">@navbarItem.Text</a>
        </li>
        }
    </ul>
</nav>

