@model ApplyProcess.Models.ApplyViewModel

<nav>
    Interview Id = @Model.Interview.InterviewInstanceId
    <br/>
    Questions:
    <br/>
    <ul>
        @foreach (var question in Model.Interview.Questions)
        {
            <li>
                Title: @question.QuestionTitle
                <br/>
                Text: @question.QuestionText
            </li>
        }
    </ul>
    <br/>
    <br/>
</nav>
